{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block additional_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div id="calendar-nav-bar">
    <div class="nav-content">
        <a href="{% url 'calendar' year=previous_year month=previous_month %}" class="nav-button">Previous Month</a>
        <span class="nav-date">{{ month_name }} {{ year }}</span>
        <a href="{% url 'calendar' year=next_year month=next_month %}" class="nav-button">Next Month</a>
    </div>
</div>
<div id="calendar-container" class="calendar-grid">
    {% for day in days %}
        <div id="calendar-item-{{ year }}-{{ month }}-{{ day }}" class="calendar-item">
            <!-- Placeholder for AJAX-loaded content -->
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block body_scripts %}
<script>
    function updateCalendarItem(year, month, day) {
        $.ajax({
            url: '/calendar-item/' + year + '/' + month + '/' + day + '/',
            method: 'GET',
            success: function(data) {
                $('#calendar-item-' + year + '-' + month + '-' + day).html(data);
            }
        });
    }

    function changeMonth(offset) {
        var currentYear = {{ year }};
        var currentMonth = {{ month }};
        var newDate = new Date(currentYear, currentMonth - 1 + offset, 1);
        var newYear = newDate.getFullYear();
        var newMonth = newDate.getMonth() + 1;

        $.ajax({
            url: '/calendar/' + newYear + '/' + newMonth + '/',
            method: 'GET',
            success: function(data) {
                $('#calendar-container').html($(data).find('#calendar-container').html());
                updateCalendarForMonth(newYear, newMonth);
            }
        });
    }

    function updateCalendarForMonth(year, month) {
        // Update each day in the current month
        {% for day in days %}
            (function(day) {
                setTimeout(() => {
                    updateCalendarItem(year, month, day);
                }, 50 * day);  // 50ms delay multiplied by day for staggered requests
            })({{ day }});
        {% endfor %}
    }

    $(document).ready(function() {
        updateCalendarForMonth({{ year }}, {{ month }});
    });

    $(document).ready(function() {
        // Call update function on select change
        $(document).on('change', 'select[name="workout"]', async function() {
            var workoutId = $(this).val();
            var year = $(this).siblings('input[name="year"]').val();
            var month = $(this).siblings('input[name="month"]').val();
            var day = $(this).siblings('input[name="day"]').val();
            if (workoutId) {
                try {
                    const response = await fetch(`/update-calendar-item/${year}/${month}/${day}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': $(this).siblings('input[name="csrfmiddlewaretoken"]').val()
                        },
                        body: new URLSearchParams({
                            'workout_id': workoutId
                        })
                    });
    
                    if (response.ok) {
                        updateCalendarForMonth({{ year }}, {{ month }});
                        {% comment %} updateCalendarItem({{ year }}, {{ month }}, {{ day }}); {% endcomment %}
                    } else {
                        console.error('Server error:', response.statusText);
                    }
                } catch (error) {
                    console.error('Fetch error:', error);
                }
            }
        });
    

        // Automatically trigger update for the calendar items on page load
        {% for day in days %}
            updateCalendarItem({{ year }}, {{ month }}, {{ day }});
        {% endfor %}
    });
</script>
{% endblock %}
