    <h1>{{ day }}</h1>
    {% if workout_history.is_completed %}
        <h2 style="color:green;">Workout: {{ workout_history.workout.name }}</h2>
    {% elif workout_history.is_future %}
        <h2>{{ workout_history.workout.name }}</h2>
    {% elif workout_history.is_today %}
        <h2 style="color:blue;">{{ workout_history.workout.name }}</h2>
    {% else %}
        <h2 style="color:red;">{{ workout_history.workout.name }}</h2>
    {% endif %}

    {% if workout_history.is_today %}
        <button>Do workout</button>
    {% endif %}

    {% if workout_history.is_future %}
    <form id="update-workout-form-{{ year }}-{{ month }}-{{ day }}" method="post">
        {% csrf_token %}
        <select name="workout" id="workout-select-{{ year }}-{{ month }}-{{ day }}">
            <option value="">Select a Workout</option>
            {% for workout in workouts %}
                <option value="{{ workout.id }}">{{ workout.name }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="year" value="{{ year }}">
        <input type="hidden" name="month" value="{{ month }}">
        <input type="hidden" name="day" value="{{ day }}">
    </form>
    {% endif %}

