{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block content %}
    <h1>Calendar</h1>
    <div class="row spaced primary" id="calendar-nav">
        <a href="{{ prev_month_url}}"><button class="tag highlight">Previous Month</button></a>
        <div><h1>{{ month }} {{ year }}</h1></div>
        <a href="{{ next_month_url }}"><button class="tag highlight">Next Month</button></a>
    </div>
    <div id="calendar-grid">
    {% load comparison_tags %}
    {% for item in calendar_items %}
        <div class="framed column {% if item.is_today %}highlight{% else %}secondary{% endif %} centered flex flex-item">
            <h3>{{ item.date.day }}</h3>
            {% include 'workoutplanner/components/calendar_item.html' %}
            {% if not item.date|is_past %}
                {% include 'workoutplanner/forms/workout_record_form.html' %}
            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endblock %}