:root {
    --primary-bg-color: #e8ebf7;
    --primary-hover-color: #c1c3ce;
    --primary-text-color: #000000;
    --secondary-bg-color: #acbed8;
    --secondary-hover-color: #8898ae;
    --secondary-text-color: #ffffff;
    --highlight-bg-color: #f2d398;
    --highlight-bg-color-hover: #c7ac7b;
    --highlight-text-color: #000000;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
    --primary-bg-color: #172a3a;
    --primary-hover-color: #335e81;
    --primary-text-color: #ffffff;
    --secondary-bg-color: #004346;
    --secondary-hover-color: #007278;
    --secondary-text-color: #f1f4f7;
    --highlight-bg-color: #74b3ce;
    --highlight-bg-color-hover: #87d0ef;
    --highlight-text-color: #f8f7fa;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme="high-contrast"] {
    --primary-bg-color: #eff0d1;
    --primary-hover-color: #e6f0d1;
    --primary-text-color: #262730;
    --secondary-bg-color: #d7c0d0;
    --secondary-hover-color: #d7d2c0;
    --secondary-text-color: #262730;
    --highlight-bg-color: #77ba99;
    --highlight-bg-color-hover: #33ba99;
    --highlight-text-color: #f9f9f9;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

/* only used for debugging */
#response_iframe{
    /* display:hidden; */
    border: none;
    width:100vw;
    height:30px;
    position: sticky;
    top:0;
    z-index: 10001;
}

body{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

a{
    text-decoration: none;
}

#nav-buttons
{
    display: flex;
    flex-direction: horizontal;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

button{
    background-color: var(--highlight-bg-color);
    color: var(--highlight-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    margin:15px;
    outline: none;
}

button:hover {
    background-color: var(--highlight-bg-color-hover);
    box-shadow: 0 6px 12px;
}

button:focus {
    box-shadow: 0 0 0 4px;
}

.framed
{
    border: solid var(--primary-text-color) 2px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.padded_5{
    padding: 5px;
}

.padded_lr_10{
    padding-left: 10px;
    padding-right: 10px;
}

.rounded{
    border-radius: 5px;
}

.centered{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.no-margin{
    margin: 0px;
}

.tag, div label
{
    border: solid var(--primary-text-color) 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

div label:hover
{
    background-color: var(--highlight-bg-color-hover);
}

div label
{
    background-color: var(--highlight-bg-color);
}

form div
{
    display:flex;
    flex-wrap: wrap;
}

.primary
{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.secondary
{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color)!important;
}

.highlight
{
    background-color: var(--highlight-bg-color);
    color: var(--highlight-text-color);
}

.row
{
    display: flex;
    flex-direction: row;
}

.flex
{
    display: flex;
    width: auto;
}

.spaced
{
    justify-content: space-around;
}

.start
{
    justify-content: start;
}

.column
{
    display: flex;
    flex-direction: column;
}

.flex-item
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bold {
    font-size: 2.5em;
    font-weight: bold;
}

.small-square{
    border-radius : 0px;
    padding : 5px;
    margin : 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 30px;
}

.green-icon{
    color:green; 
    font-size:32px;
}

.warning{
    color: yellow;
    background-color: red;
    font-weight: bold;
}

.warning:hover{
    color: white;
    background-color: rgb(155, 0, 0);
    font-weight: bold;
}

.confirm{
    color: white;
    background-color: green;
    border: solid 2px greenyellow;
    font-weight: bold;
}

.confirm:hover{
    background-color: greenyellow;
}