<div class="exercise_record_form" id="exercise_record_form_{{ exercise_id }}">
    <form class="primary" method="post" action="{% url 'create_exercise_record' %}" target="response_iframe">
        {% csrf_token %}
        <div>
            {{ form.reps.label_tag }}
            {{ form.reps }}
        </div>
        <div>
            {{ form.weight.label_tag }}
            {{ form.weight }}
        </div>
        <input type="hidden" name="exercise_id" value="{{ exercise_id }}">
        <button type="submit">Log</button>
    </form>
</div>



