<div class="workout_record_form row centered" id="workout_record_form_{{ item.date.year }}_{{ item.date.month }}_{{ item.date.day }}">
    <form method="post" action="{% url 'create_workout_record' %}" target="response_iframe">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="form-group">
            {{ form.workout }}
            {{ form.is_completed }}
            <button class="small-square" type="submit">+</button>
            <input type="hidden" name="date" value="{{ item.date }}">
        </div>
    </form>
</div>
