<div class="workout-item">
    <div class="exercise-description">
        <h3>{{ workout_item.exercise.name }}</h3>
        <p>{{ workout_item.exercise.description }}</p>
    </div>
    <div class="workout-item-flex">
        <div class="previous-exercise-record">
            {%  if workout_item.previous_records %}
                <p>Most Recent: {{ workout_item.previous_records.0.date }}</p>
                {% include 'workoutplanner/components/exercise_records_component.html' with exercise_records=workout_item.previous_records %}
            {%  endif %}
        </div>
        <div class="previous-exercise-record">
            <p>Today's Lifts</p>
            {% include 'workoutplanner/components/exercise_records_component.html' with exercise_records=workout_item.todays_records %}
        </div>
        <div class="exercise-inputs">
            <form method="post" action="{% url 'add_exercise_record' %}">
                {% csrf_token %}
                <input type="hidden" name="exercise_id" value="{{ workout_item.exercise.id }}">
                <input type="number" name="reps" placeholder="Reps" required>
                <input type="number" name="weight" placeholder="Weight" required>
                <button type="submit">+</button>
            </form>
        </div>
    </div>
</div>