{# WorkoutPlanner/templates/base.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}GymBuddy{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'workoutPlanner/css/styles.css' %}">

    <script src="{% static 'js/theme.js' %}" defer></script>
    <script src="{% static 'js/ajax_request_builder.js' %}" defer></script>

    {% comment %} add useful routes to window {% endcomment %}
    <script type="text/javascript">
        window.urls = {
            getActiveWorkoutItem: '{% url "get_active_workout_item" exercise_id=0 %}',
            getCalendarItem: '{% url "get_calendar_item" year=0 month=0 day=0 %}',
            getExerciseDetailItem: '{% url "get_exercise_detail_item" exercise_id=0 %}',
            getExerciseRecordsItem: '{% url "get_exercise_records_item" exercise_id=0 year=0 month=0 day=0 %}',
        };
        window.csrfToken = '{{ csrf_token }}';
    </script>

    <script src="{% static 'js/fetch_items.js' %}" defer></script>

    {% block additional_scripts %}{% endblock %}
</head>
<body>
    <header>
        <nav id="nav-buttons">
            <a href="{% url 'calendar' %}"><button>Calendar</button></a>
            <a href="{% url 'workouts' %}"><button>Workouts</button></a>
            <a href="{% url 'exercises' %}"><button>Exercises</button></a>
            <button id="theme-toggle">Toggle Theme</button>           
        </nav>
    </header>

    <main>
        <!-- spacer.html -->
        <div style="height:80px;"></div>
        {% block content %}
        {% endblock %} 
    </main>

    <footer>
        <p>&copy; 2024 GymBuddy</p>
    </footer>
    {% block body_scripts %}{% endblock %} 
</body>
</html>
