

.muscle-group-tags, #id_muscle_groups{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#calendar-nav {
    align-items: center;
    border-bottom: 2px solid var(--highlight-bg-color);
    position: sticky; /* Make the navbar stick to the top */
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    height: 80px;
}

#calendar-container {
    margin-top: 20px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for the days of the week */
    grid-gap: 10px;
    padding: 10px;
}

.calendar-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
