

#calendar-nav {
    align-items: center;
    border-bottom: 2px solid var(--highlight-bg-color);
    position: sticky; /* Make the navbar stick to the top */
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    height: 80px;
}

#calendar-container {
    margin-top: 20px;
}

#calendar-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calendar-item {
    margin:10px;
    width: 170px;
    height:170px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

